/* Customize website's scrollbar like Mac OS
Not supports in Firefox and IE */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* total width */
body::-webkit-scrollbar {
    background-color: #fff;
    width: 16px;
}

/* background of the scrollbar except button or resizer */
body::-webkit-scrollbar-track {
    background-color: #fff;
}

/* scrollbar itself */
body::-webkit-scrollbar-thumb {
    background-color: #002d80;
    border-radius: 16px;
    border: 4px solid #fff;
}

/* set button(top and bottom of the scrollbar) */
body::-webkit-scrollbar-button {
    display:none;
}

html{
    font-family: 'Montserrat';
}

.airbus-color{
    color:#002d80;
}

footer{
    color : #bababa;
}

footer,a:hover{
    transition-duration: 0.2s;
    text-decoration: none;
}

footer,a{
    transition-duration: 0.2s;
}

h1{
    color:#002d80;
    font-family: 'Montserrat';
    font-weight: 900;
}

h2{
    color:#002d80;
    font-family: 'Montserrat';
    font-weight: 800;
}

h3{
    font-family: 'Montserrat';
    font-weight: 600;
}

.h3-index{
    font-family: "Montserrat";
    font-weight: 300;
}

.h3-bold-index{
    font-family: 'Montserrat';
    font-weight: 600;
    color: #002d80;
}

h4{
    color:#002d80;
    font-size: 32px;
    font-family: 'Montserrat';
    font-weight: 600;
}

h5{
    font-family: 'Montserrat';
    font-weight: 800;
}

.bt-blue{
    background-color: #002d80;
}