/* Hide scroll bar*/
::-webkit-scrollbar {
    width: 0px;
}
footer{
    color : #bababa;
}

footer,a:hover{
    transition-duration: 0.2s;
    text-decoration: none;
}

footer,a{
    transition-duration: 0.2s;
}

h4{
    color:#002d80;
    font-size: 32px;
    font-family: "Arial Black";
}

h1{
    color:#002d80;
    font-family: "Arial Black";
}